/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: none;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: 'Courier New', Courier, monospace !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p {
  margin-bottom: 0px !important;
  padding: 0px;
}

/* NavBar CSS */
.navbar {
  background: black !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

a {
  color: white !important;
}

.navigation-active {
  color: #6bf6df !important;
	text-shadow: -4px 4px 10px #6bf6df, 4px -4px 10px #6bf6df;
  transform: scale(1.3);
  font-weight: bold !important;
}



/* Main Content */



/* Footer CSS */
.bkg-text {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 150px;
  opacity: 3%;
  text-align: end;
}

.footer-bs {
  background: green !important;
  position: 
}

.footer-img {
  color: #282c34;
  height: 20%;
  width: 20%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
